body{
    margin: 0;
    background-image: url("courier.png");
    background-size: 100%;
}

footer, header {
    background-color: #E17E7E;
}

form {
    width: 20vw;
    margin-top: 5vw;
    margin-left: 15vw;
    margin-bottom: 2vh;
}

.formdiv {
    width: 100%;
    font-size: 20px;
    border: solid 2px white;
    border-radius: 20px;
    background-color: #E17E7E;
}

label {
    padding-left: 5%;
}

input[type=text] {
    padding-left: 5%;
    margin-top: 5px;
    margin-bottom: 20px;
    margin-left: 5%;
    width: 90%;
    height: 40px;
    box-sizing: border-box;
    border: none;
    border-bottom: solid 1px white;
    background-color: #E17E7E;
}

input[type=submit] {
    padding-top: 15px;
    padding-bottom: 15px;
    margin-left: 10%;
    width: 80%;
    height: 60px;
    border: 3px solid;
    border-color: white;
    border-radius: 35px;
    background-color: #E17E7E;
    color: white;
    font-size: 20px;
}

header {
    padding-top: 5vh;
    padding-bottom: 5vh;
    padding-left: 5vw;
    padding-right: 5vw;
}

footer {
    padding-top: 2vh;
    padding-bottom: 2vh;
    text-align: center;
    font-size: 30px;
    width: 100%;
    bottom: 0;
    position: fixed;
}

label, p, a {
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

a {
    font-size: 20px;
    text-decoration: none;
    margin-right: 20px;
}

@media screen and (max-width: 1024px) {
    .desktop{
        visibility: hidden;
    }

    form {
        width: 80vw;
        margin-left: 9vw;
    }

    .formdiv {
        margin-bottom: 10vh;
    }

    header {
        padding-top: 0vh;
        margin-bottom: 7vh;
    }

    footer {
        padding-top: 0vh;
        padding-bottom: 0vh;
    }
}