@import url(reset.css);

/*тут ваш keyframe код*/
@keyframes example {
	0%   {left:750px; top:400px;}
	12.5%{left:1000px; top:500px;}
	25%  {left:1100px; top:650px;}
	37.5%{left:1000px; top:800px;}
	50%  {left:750px; top:900px;}
	62.5%{left:575px; top:800px;}
	75%  {left:500px; top:650px;}
	87.5%{left:575px; top:500px;}
	100% {left:750px; top:400px;}
}
.page {
  /* эти единицы измерения мы изучим чуть позже */
	width: 100vw;
	height: 100vh;
	background-image: url(https://c1.staticflickr.com/6/5173/5436446554_9244788c36_b.jpg);
	display: flex;
	position: relative;
}
.sun {
	width: 300px;
	height: 300px;
	background-image: url(https://pics.freeicons.io/uploads/icons/png/4941766021637258773-512.png);
	background-size: cover;
	background-position: center;
	margin: auto;
}
.earth {
	width: 400px;
	height: 400px;
	/*background-color: green;*/
	background-image: url(https://pics.freeicons.io/uploads/icons/png/68863564516354197474526-512.png);
	background-size: 50px;
	background-repeat: no-repeat;
	background-position: right top;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -200px;
	margin-left: -200px;
	animation: mymove 15s 5;
  	animation-timing-function: linear;
}

@keyframes mymove {
  100% {rotate: 360deg;	}
}